
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea {
  height: 80px;
}

button {
  background: #007aff;
  color: yellow;
  border: none;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  margin-top: 10px;
}.galeria {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin: 15px 0;
}

.galeria img {
  width: 100%;
  border-radius: 8px;
}
.galeria img {
  width: 100%;
  border-radius: 8px;
}
body {
  background: #e9ecef;
  font-family: Arial;
}

.card {
  background: white;
  border-top: 6px solid #1f3c88;
}
.contenedor-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  max-width: 700px;   /* ancho del bloque */
  margin: 40px auto; /* centra el contenedor */
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2; /* gris claro */
}
.contenedor-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  max-width: 700px;
  margin: 40px auto;
}
.card {
  background-color: white;   /* blanco */
  border-radius: 10px;
  padding: 15px;

  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2; /* gris claro */
}
