
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea {
  height: 80px;
}

button {
  background: #007aff;
  color: yellow;
  border: none;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  margin-top: 10px;
}.galeria {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin: 15px 0;
}

.galeria img {
  width: 100%;
  border-radius: 8px;
}
